:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --secondary-text-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-text-decoration: none;
  --section-background-color: #F5F4FA;
  --black-color: #000000;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "sans-serif";
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.work__title,
.team__title,
.regular-clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  color: var(--black-color);
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__web {
  color: var(--accent-color);
}
.logo__studio {
  color: var(--secondary-text-color);
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}
.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.contacts__link:focus, .contacts__link:hover {
  color: var(--accent-color);
}
.contacts__icon-mail, .contacts__icon-tel {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--secondary-background-color);
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1600px;
  height: 600px;
  text-align: center;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/image-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image-hero.jpg);
}
.hero__title {
  width: 696px;
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  min-width: 216px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.hero__button:focus, .hero__button:hover {
  background-color: #188CE8;
}

.benefits__item {
  width: 270px;
  border-radius: 4px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.pluses-card {
  display: block;
}
.pluses-card__icon {
  text-align: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  padding-top: 25px;
}
.pluses-card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}
.pluses-card__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.work {
  padding-top: 0;
}

.work-content__item:not(:last-child) {
  margin-right: 30px;
}

.work-card {
  position: relative;
}
.work-card__block {
  position: absolute;
  bottom: 0;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-card__title {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--section-background-color);
}

.workers__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.workers__item:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  display: block;
}
.team-member__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-member__profession {
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.social__link:hover, .social__link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.company {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.company__item:hover, .company__item:focus {
  border: 1px solid var(--accent-color);
}
.company__item:not(:last-child) {
  margin-right: 30px;
}
.company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  padding: 16px 32px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.company__link:hover, .company__link:focus {
  fill: var(--accent-color);
}

.list-buttons {
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-buttons__item {
  background-color: #F5F4FA;
}
.list-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio__name {
  display: inline-block;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--rectangle-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.button-portfolio__name:hover, .button-portfolio__name:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.cards-portfolio__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  background-color: #ffffff;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.cards-portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-link {
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
}

.resource {
  position: relative;
  overflow: hidden;
}
.resource__paragraf {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.content-link:hover .resource__paragraf {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.resource__text {
  padding: 63px 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.project {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.project__title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project__name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.address {
  width: 231px;
  margin-top: 20px;
  font-style: normal;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__location {
  color: var(--secondary-text-color);
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.address__location:hover, .address__location:focus {
  color: var(--accent-color);
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-text-decoration: var(--primary-text-decoration);
          text-decoration: var(--primary-text-decoration);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  margin-top: 12px;
}

.social__link--another {
  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.mailing {
  width: 570px;
  margin-left: 23px;
}
.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  margin-top: 12px;
}
.mailing__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-field {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}
.input-field ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-field ::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-field :-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-field ::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-field ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-field {
  position: relative;
}
.subscription-field__button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--secondary-text-color);
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}
.subscription-field__icon {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}
.modal-backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.modal__icon-close {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.modal__button:hover .modal__icon-close {
  fill: var(--accent-color);
}

.feedback-form {
  display: inline-block;
  padding: 40px;
  height: 581px;
}
.feedback-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}
.form-field__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.fill-field {
  position: relative;
}
.fill-field__input {
  height: 40px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.fill-field__input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}
.fill-field__icon {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.fill-field__input:focus + .fill-field__icon {
  fill: var(--accent-color);
}

.textarea {
  margin-bottom: 20px;
  height: px;
}
.textarea__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.textarea__field {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.textarea__field:focus {
  outline: transparent;
  border-color: var(--accent-color);
}
.textarea__field::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__field::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__field:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__field::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__field::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-form__button {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.feedback-form__button:hover, .feedback-form__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.confirmation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  width: 425px;
  height: 24px;
  margin-bottom: 30px;
  margin-left: 12px;
  margin-right: 11px;
  cursor: pointer;
}
.confirmation__icon-cheked {
  opacity: 0;
  position: absolute;
  left: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.confirmation__input:checked:focus ~ .confirmation__icon-cheked {
  opacity: 1;
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  padding: 1px;
}
.confirmation__icon-uncheked {
  position: absolute;
  left: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.confirmation__icon-cheked:focus ~ .confirmation__icon-uncheked {
  opacity: 0;
}
.confirmation__text {
  margin-left: 8px;
}
.confirmation__link {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */