.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &__icon-close {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    fill: rgba(33, 150, 243, 1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 28px 40px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(33, 33, 33, 1);;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
}

.mobile-menu__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: rgba(33, 33, 33, 1);

    &--active {
    &:hover, &:focus {
        color: rgba(33, 150, 243, 1);
    }}
    }
    
.mobile-contacts__item-tel {
    margin-bottom: 32px;
}
.mobile-contacts__item-mail {
    margin-bottom: 64px;
}
.mobile-contacts__link-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(33, 150, 243, 1);
}
.mobile-contacts__link-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
}
.mobile-social {
    display: flex;
    gap: 10px;

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: rgba(33, 150, 243, 1);
    }
    &__item {
        padding-right: 10px;
        &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        } 
    }
}