.team {
    background-color:
        var(--section-background-color);
}

.workers__item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

&:not(:last-child) {
    margin-right: 30px;}
}

.team-member {
    display: block;

&__name {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
&__profession {
    margin-bottom: 16px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;}
}