:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primary-text-decoration: none;
    --section-background-color: #F5F4FA;
    --black-color: #000000;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}
$primary-font: "Roboto", "sans-serif";
$secondary-font: "Raleway", "sans-serif";

