.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    margin-top: 12px;
}

.social__link--another {
    fill: var(--secondary-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}